@tailwind base;
@tailwind components;
@tailwind utilities;

.simplebar-track,
.simplebar-track.simplebar-vertical {
  width: 10px;
}

.simplebar-scrollbar::before {
  border-radius: 5px;
  @apply bg-black dark:bg-white opacity-35 !important;
}

@media (max-width: 1024px) {
  .simplebar-track,
  .simplebar-track.simplebar-vertical {
    width: 6px;
  }

  .simplebar-scrollbar::before {
    border-radius: 3px;
  }
}
