table {
  margin-bottom: 16px;
  border-collapse: collapse;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
}

th,
td {
  padding: 8px;
}

tr {
  @apply bg-[#f0f0f0] dark:bg-[#212529];
}

td {
  text-align: left;
}

tr:nth-child(odd) {
  @apply bg-[#d3d3d3] dark:bg-[#2c3034];
}

th {
  @apply text-dark dark:text-brand-light bg-brand-light dark:bg-brand-dark;
}
