@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import 'tailwindcss';

@theme {
  --color-dark: #121212;
  --color-brand-light: #cce8e9;
  --color-brand-dark: #324b4c;
  --color-brand-primary: #167c80;

  --font-sans: 'Roboto', sans-serif;
}

@layer base {
  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
    }
  }

  html,
  body {
    @apply m-0 h-full w-full p-0;
  }

  #app {
    @apply dark:bg-dark flex h-full w-full text-black/85 dark:text-white/85;
  }

  table {
    margin-bottom: 16px;
    border-collapse: collapse;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
  }

  th {
    padding: 8px;
  }

  td {
    padding: 8px 16px 8px 16px;
  }

  tr {
    @apply bg-[#f0f0f0] dark:bg-[#212529];
  }

  tr:nth-child(odd) {
    @apply bg-[#d3d3d3] dark:bg-[#2c3034];
  }

  th {
    @apply bg-brand-light text-dark dark:bg-brand-dark dark:text-brand-light;
  }
}

@utility btn {
  @apply bg-brand-light hover:bg-brand-primary dark:bg-brand-dark dark:text-brand-light rounded-full text-black transition duration-150 ease-out;
}
